{% assign class = "" %}
{% if include.child %}
    {% assign class = "file-tree-node" %}
{% else %}
    {% assign class = "file-tree" %}
{% endif %}

<div class="{{ class }}">
    {% for node in include.structure %}
        <span>
            {% if node.is_folder %}
                📂
            {% else %}
                📄
            {% endif %}

            {{ node.name }}
        </span>

        {% if node.children %}
            {% include file_tree.html structure=node.children child=true %}
        {% endif %}
    {% endfor %}
</div>
